{% extends 'base.html' %}

{% block title %}
    To Do Lists
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <div>
                <p>
                    <a href="{% url "todos_list_create" %}">Create a New List</a>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todoslist in todoslist_list %}
                            <tr>
                                <td>
                                    <a href="{% url "todos_list_detail" todoslist.id %}">{{ todoslist.name }}</a>
                                </td>
                                <td>{{ todoslist.items.all }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    {% endblock content %}
