{% extends 'base.html' %}

{% block title %}
    Create To Do Lists
{% endblock title %}
{% block content %}
    <main>
        <div class="control">
            <h1>Create a new list</h1>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="name"/>
                <button class="button">Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
