{% extends 'base.html' %}

{% block title %}
    Edit the Lists {{ todoslist.name }}
{% endblock title %}
{% block content %}
    <main>
        <div class="update-form">
            <h1>Update List</h1>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="name">
                <button class="button">Delete</button>
            </form>
        </div>
    </main>
{% endblock content %}
