{% extends 'base.html' %}

{% block title %}
    Delete this Lists
{% endblock title %}
{% block content %}
    <main>
        <div class="delete-form">
            <h1>Are you sure you want to delete "{{ todos_list.name }}"?</h1>
            <form method="POST">
                {% csrf_token %}
                <button class="button">Delete</button>
            </form>
        </div>
    </main>
{% endblock content %}
